
<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
      // var socket = io();
    </script>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>


      </fieldset>
      <div id="#aurora">Did you know?</div>
        <div id="holder" class="ml2">
            <%= result_from_database %>
        </div>
        <!-- <form>
            <button type="button" id="HButton"> get fucked </button>
        </form> -->
    </body>
</html>
<!-- <script>// Wrap every letter in a span
  var textWrapper = document.querySelector('.ml2');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
  
  anime.timeline({loop: true})
    .add({
      targets: '.ml2 .letter',
      scale: [4,1],
      opacity: [0,1],
      translateZ: 0,
      easing: "easeOutExpo",
      duration: 950,
      delay: (el, i) => 70*i
    }).add({
      targets: '.ml2',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    });</script> -->
<script>
  $(document).ready(function () {
    console.log("listener");
      var my_div = $("#holder");
      var i = 0;
      setInterval(function() {

      

        $.ajax({
           url: "/stats"
        })
        .done(function( data ) {
           console.log( "Sample of data:", data );
           $('#holder').fadeIn("slow");
           $('#holder').html(data.message);
           $('#holder').delay(2500).fadeOut("slow");
        });
      }, 5000);
  });
</script>
